#template-app-slider {
    margin: 50px auto;
    position: relative;
    width: 600px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#template-app-slider > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#template-app-slider .div-slider {
    text-align: center;
}

#template-app-slider .div-slider img {
    max-height:250px;
    max-width:600px;
}

#template-app-slider .div-slider h2 {
    word-wrap: break-word
}


#template-app-slider a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

#template-app-slider a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

#template-app-slider a.control_prev {
    left: 0;
    border-radius: 0 2px 2px 0;
}

#template-app-slider a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

#template-app-slider .default-image {
    margin-top: 80px;
}
